{% extends "index.html" %}

{% block content %}
<div class="section">
  <h1 class="section-title">{{ section.title }}</h1>
  <hr />
  {% for section_name in section.subsections | reverse %}
    {% set section = get_section(path=section_name) %}
    <h3 class="inline">Series: <a href="{{ section.permalink }}">{{ section.title }}</a></h3>
    <span class="float subtitle">{{ section.extra.date | date(format="%b - %Y") }}</span>
    <div class="pad-all-10" />
    <ul>
    {% for post in section.pages | reverse %}
    <li>
        <h4 class="title inline">
            <a href="{{ post.permalink }}">{{ post.title }}</a>
        </h4>
        <span class="subtitle inline">{{post.description}}</span>
    </li>
    {% endfor %}
    </ul>
    <hr />
  {% endfor %}
  {% for post in section.pages | reverse %}
    <h2 class="title inline"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
    <h4 class="subtitle inline">{{post.description}}</h4>
    <div class="post-details post-indent">
      {{ post.date | date(format="%b - %Y") }}
      <em>(~{{ post.reading_time }} minutes read time)</em>
    </div>
    <div class="post-indent">{{ post.summary | safe }}</div>
    <hr />
  {% endfor %}
</div>
{% endblock content %}

