{% extends "index.html" %}

{% block content %}
<div class="section">
  <h1 class="section-title">{{ section.title }}</h1>
  <hr />
  {% for section_name in section.subsections | reverse %}
    {% set section = get_section(path=section_name) %}
    <h2><a href="{{ section.permalink }}">{{ section.title }}</a></h2>
    <ul>
    {% for post in section.pages | reverse %}
      <li>
        <h4 style="display: inline;" class="title">
          <a href="{{ post.permalink }}">{{ post.title }}</a>
        </h4
        <h4 style="display: inline;" class="subtitle">{{post.description}}</h4>
      </li>
    {% endfor %}
    </ul>
    <hr />
  {% endfor %}
</div>
{% endblock content %}

