{% extends "index.html" %}

{% block content %}
<div class="section limit-width">
  <h3 class="section-title">{{ section.title }}</h3>
  {% for category_name in section.subsections %}
    {% set category = get_section(path=category_name) %}
    <h2>{{ category.title }}</h2>
    {% for section_name in category.subsections | reverse %}
        {% set section = get_section(path=section_name) %}
        <div class="pad-top-10">
            <h3 class="inline">Series: <a href="{{ section.permalink }}">{{ section.title }}</a></h3>
            <span class="float subtitle">{{ section.extra.date | date(format="%b - %Y") }}</span>
            <div class="pad-all-10" />
            <ul>
            {% for post in section.pages | reverse %}
            <li>
                <h4 class="inline title">
                    <a href="{{ post.permalink }}">{{ post.title }}</a>
                </h4>
                <span class="inline subtitle">{{post.description}}</span>
            </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    {% if category.pages %}
        <div class="pad-top-10">
            <ul>
            {% for post in category.pages | reverse %}
            <li>
                <h4 class="inline title">
                    <a href="{{ post.permalink }}">{{ post.title }}</a>
                </h4>
                <span class="inline pad-left-8" class="subtitle">{{post.description}}</span>
                <span class="float subtitle">{{ post.date | date(format="%b - %Y") }}</span>
            </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
    <hr />
  {% endfor %}
</div>
{% endblock content %}

