{% extends "hyde/templates/index.html" %}

{% block extra_head %}
<link rel="shortcut icon" type="image/jpg" href="{{ get_url(path="favicon.ico", trailing_slash=false) }}"/>
{% if config.extra.google_analytics %}
<script>
(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
    (i[r].q = i[r].q || []).push(arguments)
}, i[r].l = 1 * new Date(); a = s.createElement(o),
    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', "{{ config.extra.google_analytics }}", 'auto');
ga('send', 'pageview');
{% endif %}
</script>
<link rel="stylesheet" href="{{ get_url(path="css/fontawesome.min.css", trailing_slash=false) }}">
<link rel="stylesheet" href="{{ get_url(path="css/brands.min.css", trailing_slash=false) }}">
{% endblock extra_head %}

{# comment  #e3c2a4 #}
{% block sidebar_about %}
    <div class="title-box">
        <a href="{{ config.base_url }}"><h2>{{ config.title }}</h2></a>
    </div>
    {% if config.description %}
    <p class="lead">{{config.description}}</p>
    {% endif %}
    {% for link in config.extra.hyde_links %}
        <a class="pad-right-6" href="{{link.url}}">
            {% if link.icon_class %}
            <i class="fab {{ link.icon_class }}"></i>
            {% else %}
            {{ link.name }}
            {% endif %}
        </a>
    {% endfor %}
{% endblock sidebar_about %}

{% block sidebar_nav %}
<hr class="lead" />
<li class="pad-bottom-12"> Categories </li>
<li class="sidebar-nav-item">
    <a href="/rust/">Rust</a>
</li>
<li class="sidebar-nav-item">
    <a href="/exabgp/">Exabgp</a>
</li>
<li class="sidebar-nav-item">
    <a href="/scapy/">Scapy</a>
</li>
<li class="sidebar-nav-item">
    <a href="/pyshark/">PyShark</a>
</li>
{% endblock sidebar_nav %}


{% block sidebar_footer %}
{% endblock sidebar %}