{% extends "index.html" %}

{% block content %}
<div class="section">
  <h1 class="section-title">{{ section.title }}</h1>
  <hr class="lead" />
  {% for post in section.pages | reverse %}
    <h2 class="title inline"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
    <h4 class="subtitle inline">{{post.description}}</h4>
    <div class="post-details post-indent">
      {{ post.date | date(format="%b - %Y") }}
      <em>(~{{ post.reading_time }} minutes read time)</em>
    </div>
    <div class="post-indent">{{ post.summary | safe }}</div>
    <hr class="lead" />
  {% endfor %}
</div>
{% endblock content %}

